<!DOCTYPE html>
<html lang="fa">

<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/logo/1716061360566.png">
    <link href="~/assets/css/styles.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/calendar-dist/jalalidatepicker.min.css" />
    <script type="text/javascript" src="~/calendar-dist/jalalidatepicker.min.js"></script>
</head>

<body dir="rtl">

    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader"></div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Top header  -->
        <!-- ============================================================== -->
        <!-- Start Navigation -->
        <div class="header header-light dark-text">
            <div class="container">
                <nav id="navigation" class="navigation navigation-landscape">
                    <div class="nav-header">
                        <a class="nav-brand" asp-page="Index" asp-area="">
                            <img src="~/assets/img/logo/1716061360566.png" style="height:43px" />
                        </a>
                    </div>
                    <div class="nav-menus-wrapper" style="transition-property: none;">
                        <partial name="_LoginPartial" />
                    </div>
                </nav>
            </div>
        </div>
        <!-- End Navigation -->
        <div class="clearfix"></div>

        <!-- ======================= dashboard Detail ======================== -->
        <div class="goodup-dashboard-wrap gray px-4 py-5">
            <a class="mobNavigation" data-bs-toggle="collapse" href="#MobNav" role="button" aria-expanded="false" aria-controls="MobNav">
                <i class="fas fa-bars ms-2"></i>منو
            </a>
            <div class="collapse" id="MobNav">
                <div class="goodup-dashboard-nav sticky-top">
                    <div class="goodup-dashboard-inner">
                        <ul data-submenu-title="منو">
                            <li class="@ViewData["Dashboard"]"><a asp-page="Index"><i class="lni lni-dashboard ms-2"></i>داشبورد</a></li>
                            <li class="@ViewData["ExpertSuggestions"]"><a asp-page="ExpertSuggestions"><i class="lni lni-files ms-2"></i>پیشنهادهای من</a></l>
                            <li class="@ViewData["OpenOrders"]"><a asp-page="OpenOrders"><i class="lni lni-add-files ms-2"></i>درخواست های باز</a></li>
                        </ul>
                        <ul data-submenu-title="حساب کاربری">
                            <li class="@ViewData["ProfileSetting"]">
                                <a asp-page="ProfileSetting">
                                    <i class="lni lni-user ms-2"></i>
                                    تنظیمات
                                </a>
                            </li>
                            <li>
                                <form class="form-inline" asp-area="Account" asp-page="Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                                    <button type="submit" class="nav-link btn btn-link text-dark"><i class="bx bx-power-off me-2"></i>خروج</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            @RenderBody()
        </div>
        <!-- =====================  == dashboard Detail End ======================== -->
        <!-- ======================= All Types Listing ======================== -->

      

        <a id="tops-button" class="top-scroll" title="Back to top" href="#">
            <i class="ti-arrow-up"></i>
        </a>
        <footer class="light-footer skin-light-footer style-2">
            <div class="footer-bottom br-top">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12 col-md-12 text-center">
                            <p class="mb-0">© آیدو سرویس</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/slick.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/dropzone.js"></script>
    <script src="~/assets/js/counterup.js"></script>
    <script src="~/assets/js/lightbox.js"></script>
    <script src="~/assets/js/moment.min.js"></script>
    <script src="~/assets/js/daterangepicker.js"></script>
    <script src="~/assets/js/lightbox.js"></script>
    <script src="~/assets/js/jQuery.style.switcher.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <script src="~/admin/assets/js/ui-modals.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
</body>
@await RenderSectionAsync("Scripts", required: false)
</html>