@page
@model HomeService.Endpoint.RazorPages.UI.Areas.AdminArea.Pages.AddServiceModel
@{
}
<div class="col-xxl">
    <div class="card mb-4">
        <div class="card-header d-flex align-items-center justify-content-between">
            <small class="text-muted float-end primary-font">افزودن سرویس‌</small>
        </div>
        <div class="card-body">
            <form method="post" asp-page-handler="Add" enctype="multipart/form-data">
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" asp-for="@Model.ServiceCreate.Name"></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" asp-for="@Model.ServiceCreate.Name">
                    </div>
                </div>
                <select id="select2Basic" asp-for="@Model.ServiceCreate.ServiceSubCategoryId" class="select2 form-select form-select-lg" data-allow-clear="true">
                    @foreach (var subcategory in Model.SubCategoryNames)
                    {
                        <option value="@subcategory.Id">@subcategory.Name</option>
                    }
                </select>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" asp-for="@Model.Image">عکس</label>
                    <div class="col-sm-10">
                        <input type="file" class="form-control" asp-for="@Model.Image">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" asp-for="@Model.ServiceCreate.Price"></label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" asp-for="@Model.ServiceCreate.Price">
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">ارسال</button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>