@page
@model HomeService.Endpoint.RazorPages.UI.Areas.AdminArea.Pages.AddSubCategoryModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "  افزودن دسته بندی فرعی سرویس | آیدو";
    ViewData["PageTitle"] = " افزودن دسته بندی فرعی";
}
<div class="col-xxl">
    <div class="card mb-4">
        <div class="card-body">
            <form method="post" asp-page-handler="Add" enctype="multipart/form-data">
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" asp-for="@Model..Name"></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" asp-for="@Model.ServiceSubCategoryCreate.Name">
                        <span asp-validation-for="@Model.ServiceSubCategoryCreate.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" asp-for="@Model..Name"></label>
                    <div class="col-sm-10">
                <select id="select2Basic" asp-for="@Model.ServiceSubCategoryCreate.ServiceCategoryId" class="select2 form-select form-select-lg" data-allow-clear="true">
                    @foreach (var category in Model.CategoryNames)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" asp-for="@Model.Image">عکس</label>
                    <div class="col-sm-10">
                        <input type="file" class="form-control" asp-for="@Model.Image">
                        <span asp-validation-for="@Model.Image" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="row justify-content-end">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">ارسال</button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />
}