@page
@using Framework
@using HomeService.Domain.Core.Enums
@model HomeService.Endpoint.RazorPages.UI.Areas.AdminArea.Pages.ChangeStatusModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "   تغییر وضعیت | آیدو";
    ViewData["PageTitle"] = "تغییر وضعیت";
}
<div class="col-xxl">
    <div class="card mb-4">
        <div class="card-body">
            <form method="post" asp-page-handler="ChangeStatus">
                <div class="row mb-3">
                    <input hidden asp-for="@Model.OrderId" value="@Model.Order.Id" />
                    <label class="col-sm-2 col-form-label" asp-for="@Model.Status">نام</label>
                    <div class="col-sm-10">
                        <select asp-for="@Model.Status" class="select2 form-select form-select-lg" data-allow-clear="true">

                            <option value="@StatusEnum.AwaitingCustomerConfirmation">در انتظار تایید متشری</option>
                            <option value="@StatusEnum.AwaitingSuggestionExperts">در انتظار تایید متخصص</option>
                            <option value="@StatusEnum.Done"> انجام شد</option>
                            <option value="@StatusEnum.Confirmed">تایید شد</option>

                        </select>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">ارسال</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>