@page
@using HomeService.Domain.Core.Contracts.AppServices
@model IndexModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "داشبورد | آیدو";
    ViewData["Dashboard"] = " active open";
    ViewData["PageTitle"] = "داشبورد";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row g-4 mb-4">
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="content-left">
                            <span class="secondary-font fw-medium">درخواست</span>
                            <div class="d-flex align-items-baseline mt-2">
                                @* <h4 class="mb-0 me-2">
                                    @Model.CountViewModel.OrderCount
                                </h4> *@
                            </div>
                            <small>مجموع درخواست‌ها</small>
                        </div>
                        <span class="badge bg-label-primary rounded p-2">
                            <i class="bx bx-spreadsheet bx-sm"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="content-left">
                            <span class="secondary-font fw-medium">کامنت</span>
                            <div class="d-flex align-items-baseline mt-2">
                                @* <h4 class="mb-0 me-2">
                                @Model.CountViewModel.CommentCount
                                </h4> *@
                            </div>
                            <small>مجموع کامنت‌ها</small>
                        </div>
                        <span class="badge bg-label-danger rounded p-2">
                            <i class="bx bx-comment-detail bx-sm"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="content-left">
                            <span class="secondary-font fw-medium">متخصص</span>
                            <div class="d-flex align-items-baseline mt-2">
                                @*  <h4 class="mb-0 me-2">
                                @Model.CountViewModel.ExpertCount
                                </h4> *@
                            </div>
                            <small>مجموع متخصصین</small>
                        </div>
                        <span class="badge bg-label-success rounded p-2">
                            <i class="bx bx-group bx-sm"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="content-left">
                            <span class="secondary-font fw-medium">مشتری</span>
                            <div class="d-flex align-items-baseline mt-2">
                                @* <h4 class="mb-0 me-2">
                                @Model.CountViewModel.CustomerCount
                                </h4> *@
                            </div>
                            <small>مجموع مشتری ها</small>
                        </div>
                        <span class="badge bg-label-warning rounded p-2">
                            <i class="bx bx-user-plus bx-sm"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-12 ps-4 pe-4">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="card-title mb-0">آخرین کامنت ها</h5>

            <button class="btn btn-primary">
                مشاهده همه
            </button>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-between align-content-center flex-wrap gap-4">
            </div>
            <div class="table-responsive">
                <table class="table border-top">
                    <thead>
                        <tr>
                            <th>آیدی</th>
                            <th>عنوان</th>
                            <th>متخصص</th>
                            <th>امتیاز</th>
                            @* <th>وضعیت</th> *@
                            <th>عملیات</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        @foreach (var comment in Model.ResentComment)
                        {
                            <tr>
                                <td class="text-nowrap">
                                    @comment.Id
                                </td>
                                <td class="text-nowrap">@comment.Title</td>
                                <td>@comment.Expert.FirstName @comment.Expert.LastName</td>
                                <td>@comment.Score</td>
                                @*  <td>
                            @if (comment.IsAccept == true)
                            {
                            <span class="badge bg-label-success">تایید شده</span>
                            }
                            <span class="badge bg-label-secondary">تایید نشده</span>
                            </td> *@
                                <td>
                                    <div class="dropdown">
                                        <button class="btn p-0" type="button" id="action1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="action1">
                                            <a class="dropdown-item" asp-page="CommentDetail" asp-route-id="@comment.Id"> جزئیات کامل</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>