@page
@model HomeService.Endpoint.RazorPages.UI.Areas.AdminArea.Pages.ServiceModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "سرویس ها | آیدو";
    ViewData["Service"] = " active open";
    ViewData["PageTitle"] = "سرویس";
}

<div class="card p-5">
    <div class="table-responsive text-nowrap">
        <a asp-page="AddService" class="btn btn-primary">افزودن</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>آیدی</th>
                    @* <th>عکس</th> *@
                    <th>قیمت</th>
                    <th>نام سرویس</th>
                    <th>نام دسته بندی</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">

                @foreach (var service in Model.Services)
                {
                    @if (service.IsDeleted == false)
                    {
                        <tr>
                            <td>
                                @service.Id
                            </td>
                            @* <td>

                            @*  <img src="@service.Image.ImageAddress" alt="@service.Image.Alt" class="rounded-circle"> *@

                            <td>@service.Name</td>
                            <td>@service.Price</td>
                            <td>@service.ServiceSubCategory.Name</td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a asp-page="UpdateService" asp-route-id="@service.Id">
                                            <i class="bx bx-edit-alt me-1"></i>
                                            ویرایش
                                        </a>
                                        <a asp-page-handler="Delete" asp-route-id="@service.Id" onclick="return confirm('مطمئنی؟')">
                                            <i class="bx bx-trash me-1"></i> حذف
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <!-- Button trigger modal -->
    <!-- Modal -->
    @* <div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title secondary-font" id="modalCenterTitle">ویرایش</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form method="post" asp-page-handler="Update">
    <div class="modal-body">
    <div class="row">
    <div class="col mb-3">
    <input hidden class="form-control" asp-for="@Model.ServiceUpdate.Id">
    <label asp-for="@Model.ServiceUpdate.Name" class="form-label"></label>
    <input type="text" class="form-control" asp-for="@Model.ServiceUpdate.Name">
    </div>
    </div>
    <div class="row g-2">
    <div class="col mb-0">
    <label asp-for="@Model.ServiceUpdate.Price" class="form-label"></label>
    <input type="number" asp-for="@Model.ServiceUpdate.Price" class="form-control text-start" dir="ltr">
    </div>
    </div>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
    بستن
    </button>
    <button type="submit" class="btn btn-primary">ذخیره تغییرات</button>
    </div>
    </form>
    </div>
    </div>
    </div>
    *@
    @* <div class="modal fade" id="basicModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title secondary-font" id="exampleModalLabel1">عنوان مودال</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
    <div class="row">
    <div class="col mb-3">
    <label for="nameBasic" class="form-label">نام</label>
    <input type="text" id="nameBasic" class="form-control" placeholder="نام را وارد کنید">
    </div>
    </div>
    <div class="row g-2">
    <div class="col mb-0">
    <label for="emailBasic" class="form-label">ایمیل</label>
    <input type="email" id="emailBasic" class="form-control text-start" placeholder="xxxx@xxx.xx" dir="ltr">
    </div>
    <div class="col mb-0">
    <label for="dobBasic" class="form-label">تاریخ تولد</label>
    <input type="date" id="dobBasic" class="form-control">
    </div>
    </div>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
    بستن
    </button>
    <button type="button" class="btn btn-primary">ذخیره تغییرات</button>
    </div>
    </div>
    </div>
    </div> *@
</div>