@page
@using HomeService.Domain.Core.Enums
@using HomeService.Framework
@model HomeService.Endpoint.RazorPages.UI.Areas.ExpertArea.Pages.ExpertSuggestionsModel
@{
}
@{
    Layout = "_ExpertLayout";
    ViewData["ExpertSuggestions"] = "active";
}
<div class="col-xl-9 col-lg-8 col-md-12 col-sm-12">
    <div class="row justify-content-center g-2">
<div class="col-xl-12 col-lg-12 col-md-12 col-12 p-3">
    <div class="d-block grouping-listings">
        @foreach (var item in Model.Suggestions)
        {
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                @if (item.Order.Image == null)
                                {
                                    <img src="~/assets/img/none.png" class="img-fluid " />
                                }
                                else
                                {
                                    <img src="@item.Order.Image" class="img-fluid rounded-start" />
                                }
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"><h4 class="card-title">@item.Order.Title</h4></h5>
                                    <h5 class="card-title">@item.Order.Service.Name</h5>
                                    <p class="card-text">@item.Order.Description</p>
                                    <hr />
                                    <h4 class="card-title">@item.Description</h4>
                                    <h5 class="card-title">@item.Price</h5>
                                    <p class="card-text">@item.SuggestedDateString</p>
                                    <br />
                                    @if (item.Status == StatusEnum.Confirmed)
                                    {
                                        <p class="badge rounded-pill bg-success">تایید شد</p>
                                        <a asp-route-orderId="@item.OrderId" asp-route-suggestionId="@item.Id" asp-page-handler="DoneOrder" class="btn rounded-pill btn-primary">انجام شد</a>
                                    }
                                    else if (item.Status == StatusEnum.NotConfirmed)
                                    {
                                        <p class="badge rounded-pill bg-danger">تایید نشد</p>
                                    }
                                    else if (item.Status == StatusEnum.AwaitingCustomerConfirmation)
                                    {
                                        <p class="badge rounded-pill bg-primary">در انتظار تایید</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
        }
    </div>
</div>
</div>
</div>