@page
@using Framework
@using HomeService.Domain.Core.Enums
@using HomeService.Framework
@model CustomerOrdersModel
@{
    Layout = "_CustomerLayout";
    ViewData["MyOrder"] = "active";
}
@foreach (var item in Model.Orders)
{
    <div class="container dsd-single-listing-wraps">
        <div class="row dsd-single-lst-caption">
            <div class="dsd-single-lst-thumb">
                @if (item.Image == null)
                {
                    <img src="~/assets/img/none.png" class="img-fluid" alt="" />
                }
                else
                {
                    <img src="@item.Image" class="img-fluid" alt="" />
                }
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">@item.Title</h4>
                        <h5 class="card-title">@item.Service.Name</h5>
                        <p class="card-text">@item.Description</p>
                @*         <a href="javascript:void(0);" class="btn btn-delete"><i class="fas fa-trash ms-1"></i>حذف</a> *@
                        <button class="btn btn-primary me-1" href="#collapseExample" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            لیست پیشنهادات
                        </button>
                        <div class="collapse" id="collapseExample">
                            <div class="d-grid d-sm-flex p-3 border">
                                @if (item.Suggestions == null)
                                {
                                    <span class="lh-2">
                                        هنوز پیشنهادی برای درخواست شما ارسال نشده
                                    </span>
                                }
                                else
                                {
                                    <table class="table">
                                        <thead class="table-dark">
                                            <tr>
                                                <th>نام متخصص</th>
                                                <th>قیمت پیشنهادی</th>
                                                <th>تاریخ پیشنهادی</th>
                                                <th>وضعیت</th>
                                                <th>عمل‌ها</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-border-bottom-0">
                                            @foreach (var suggest in item.Suggestions)
                                            {
                                                <tr>
                                                    <td>@suggest.Expert.FirstName @suggest.Expert.LastName</td>
                                                    <td>@suggest.Price</td>
                                                    <td>@suggest.SuggestedDate.ToPersianString("dddd, dd MMMM,yyyy")</td>
                                                    <td>@suggest.Status.GetEnumDisplayName()</td>
                                                    <td>
                                                        @if (suggest.Status ==StatusEnum.AwaitingCustomerConfirmation)
                                                        {
                                                            <a class="btn btn-success" asp-page-handler="AcceptSuggestion" asp-route-id="@suggest.Id" asp-route-orderId="@item.Id">تایید متخصص</a>
                                                            <a class="btn btn-warning" asp-page="ExpertDetails" asp-route-expertId="@suggest.ExpertId">دیدن اطلاعات متخصص</a>
                                                        }
                                                        else if (suggest.Status ==StatusEnum.Confirmed)
                                                        {
                                                            <a class="btn btn-seccendry disable"> تایید شده</a>
                                                            <a class="btn btn-warning" asp-page="ExpertDetails" asp-route-expertId="@suggest.ExpertId">دیدن اطلاعات متخصص</a>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}